{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index_new</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        #home_body{
            margin-top: 50px;
            margin-bottom: 7px;
            width: auto;
            height: 600px;
        }
        #op_function button{
            margin: 10px 0px;
        }
        #show_data{
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{% url 'index' %}" class="navbar-brand">Magic Blog System</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="#">Document</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Suggestion</a></li>
                    <li><a href="#">Contract</a></li>
                </ul>
                {% if uname %}
                    <form class="navbar-form navbar-left" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search...." style="width: 300px" id="search_input" name="search_input">
                        </div>
                        <button type="button" class="btn btn-default" id="home_search">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if uname %}
                        <li><a href="{% url 'index' %}"><strong>{{ uname }}</strong></a></li>
                        <li><a href="{% url 'logout' %}" id="logout_current">Logout</a></li>
                        <li><a href="#" id="show_down_menu">Settings</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}" id="to_login_page">Login</a></li>
                        <li><a href="{% url 'register' %}" id="to_register_page">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% if uname %}
        <div id="home_body" style="background-color: #D9EBDF">
            <div class="container" role="contentinfo" id="op_function">
                <div class="btn-group btn-group-lg" role="group">
                    <button type="button" class="btn btn-info" id="height_search">高级检索</button>
                </div>
                <div class="btn-group btn-group-lg" role="group">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_blog">增加</button>
                    <button type="button" class="btn btn-warning" disabled="disabled">删除</button>
                    <button type="button" class="btn btn-success" disabled="disabled">更改</button>
                    <button type="button" class="btn btn-info" disabled="disabled">详情</button>
                    <button type="button" class="btn btn-danger" disabled="disabled">强制删除</button>
                </div>
                <a href="#"><span class="glyphicon glyphicon-zoom-in" style="margin-left: 220px;font-size: 25px"></span></a>
                <a href="#"><span class="glyphicon glyphicon-zoom-out" style="margin-left: 20px;font-size: 25px"></span></a>
                <a href="#"><span class="glyphicon glyphicon-refresh" style="margin-left: 20px;font-size: 25px"></span></a>
                <a href="#"><span class="glyphicon glyphicon-hourglass" style="margin-left: 20px;font-size: 25px"></span></a>
                <a href="#"><span class="glyphicon glyphicon-fullscreen" style="margin-left: 20px;font-size: 25px"></span></a>
                <a href="#"><span class="glyphicon glyphicon-share-alt" style="margin-left: 20px;font-size: 25px"></span></a>
                <a href="#"><span class="glyphicon glyphicon-scissors" style="margin-left: 20px;font-size: 25px"></span></a>
                <a href="#"><span class="glyphicon glyphicon-download-alt" style="margin-left: 20px;font-size: 25px"></span></a>
                <a href="#"><span class="glyphicon glyphicon-cog" style="margin-left: 20px;font-size: 25px"></span></a>
            </div>
            <div class="container sr-only" id="height_search_form">
                <div class="form-horizontal" style="background-color: #BCC6DE">
                    <div class="form-group">
                        <label class="col-md-1 text-center" style="margin-top: 8px">ID</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="search_id" name="serach_id" placeholder="输入id号">
                        </div>
                        <label class="col-md-1 text-center" style="margin-top: 8px">title</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="search_title" name="search_title" placeholder="输入标题">
                        </div>
                        <label class="col-md-1 text-center" style="margin-top: 8px">name</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="search_name" name="search_name" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 text-center" style="margin-top: 8px">类型</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="search_classify" name="search_classify" placeholder="输入类型">
                        </div>
                        <label class="col-md-1 text-center" style="margin-top: 8px">标签</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="search_label" name="search_label" placeholder="输入标签">
                        </div>
                        <label class="col-md-1 text-center" style="margin-top: 8px">日期</label>
                        <div class="col-md-3">
                            <input type="date" class="form-control" id="search_data" name="search_data" placeholder="输入日期">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">清空内容</button>
                        <button type="button" class="btn btn-primary">高级搜索</button>
                    </div>
                </div>
            </div>
            <div class="container" role="table" id="show_data">
                <table class="table table-responsive table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="60px"><input type="checkbox">全选</th>
                            <th>id</th>
                            <th>title</th>
                            <th>name</th>
                            <th>create_time</th>
                            <th>update_time</th>
                            <th width="60px" class="text-center">delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for blog in blogs %}
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{ blog.id }}</td>
                                <td><a href="#">{{ blog.title }}</a></td>
                                <td><a href="#">{{ blog.name }}</a></td>
                                <td>{{ blog.create_time }}</td>
                                <td>{{ blog.update_time }}</td>
                                <td class="text-center"><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="container">
                <nav aria-label="" class="navbar-default" style="text-align: center;height: 60px">
                    <ul class="pagination" style="margin-top: 12px">
                        <li class="">
                            <span aria-hidden="true">&laquo;</span>
                        </li>
                        <li class="active">
                            <span>1<span class="sr-only">current</span></span>
                        </li>
                        <li>
                            <span>2<span class="sr-only">current</span></span>
                        </li>
                        <li>
                            <span>3<span class="sr-only">current</span></span>
                        </li>
                        <li>
                            <span>4<span class="sr-only">current</span></span>
                        </li>
                        <li>
                            <span>5<span class="sr-only">current</span></span>
                        </li>
                        <li>
                            <span>6<span class="sr-only">current</span></span>
                        </li>
                        <li>
                            <span>7<span class="sr-only">current</span></span>
                        </li>
                        <li>
                            <span>8<span class="sr-only">current</span></span>
                        </li>
                        <li>
                            <span>9<span class="sr-only">current</span></span>
                        </li>
                        <li>
                            <span>10<span class="sr-only">current</span></span>
                        </li>
                        <li class="">
                            <span aria-hidden="true">&raquo;</span>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    {% endif %}
    <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: #C1D879">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">version2.0.19</a></li>
                </ul>
            </div>
        </div>
    </nav>
<!-- create modal-->
    <div class="modal fade" id="create_blog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="">create a new blog</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="label-info col-md-2">姓名</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label-info col-md-2">密码</label>
                            <div class="col-md-4">
                                <input type="password" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">保存</button>
                    <button type="button" class="btn btn-info">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- height search-->
{#    <div class="modal fade" id="height_search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">#}
{#        <div class="modal-dialog" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                        <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                    <h4 class="modal-title" id="">create a new blog</h4>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <form class="form-horizontal" role="form">#}
{#                        <div class="form-group">#}
{#                            <label class="label-info col-md-2">姓名</label>#}
{#                            <div class="col-md-4">#}
{#                                <input type="text" class="form-control">#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label class="label-info col-md-2">密码</label>#}
{#                            <div class="col-md-4">#}
{#                                <input type="password" class="form-control">#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-success">保存</button>#}
{#                    <button type="button" class="btn btn-info">取消</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</body>
<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
<script src="{% static 'js/blog.js' %}"></script>
<script src="{% static 'js/height_search.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</html>