{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        #login_form_create{
            margin-top: 50px;
            background-color: #31ADDB;
            height: 588px;
        }
        #first_div{
            padding-top: 140px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{% url 'index' %}" class="navbar-brand">Magic Blog System</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="#">Document</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Suggestion</a></li>
                    <li><a href="#">Contract</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'login' %}" id="to_login_page">Login</a></li>
                    <li><a href="{% url 'register' %}" id="to_register_page">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
{#    login form create#}
    <form class="form-horizontal" enctype="multipart/form-data" id="login_form_create" role="form">
        {% csrf_token %}
        <div class="form-group" id="first_div">
            <label class="col-md-2 col-md-offset-3 control-label">用户</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="请输入用户名" id="luname" name="luname">
            </div>
            <span></span>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-md-offset-3 control-label">密码</label>
            <div class="col-md-2">
                <input type="password" class="form-control" placeholder="请输入密码" id="lupwd" name="lupwd">
            </div>
            <span></span>
        </div>
        <div class="form-group" id="captcha_show" style="display: none;">
            <label class="col-md-2 col-md-offset-3 control-label">验证码</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="请输入右侧图片验证码">
            </div>
            <div class="col-md-2">
                <img src="{% url 'captcha' %}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 col-md-offset-5">
                <span></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 col-md-offset-5">
                <input type="checkbox" id="rem_pwd" name="rem_pwd" value="yes">记住密码
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 col-md-offset-5">
                <button type="button" class="btn btn-default" id="login_btn" name="login_btn">登陆</button>
                <div style="display: inline;margin-left: 70px;">
                    <a href="{% url 'register' %}" id="no_register">还未注册？</a>
                </div>
            </div>
        </div>
    </form>
    <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: #C1D879">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">version2.0.19</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
</html>