<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search table</title>
</head>
<body>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>手机号</th>
                    <th>邮箱</th>
                    <th>注册时间</th>
                    <th>是否禁用</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>老毛</td>
                    <td>111111</td>
                    <td>laomao@123.com</td>
                    <td>20190728</td>
                    <td>否</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>老毛</td>
                    <td>111111</td>
                    <td>laomao@123.com</td>
                    <td>20190728</td>
                    <td>否</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>老毛</td>
                    <td>111111</td>
                    <td>laomao@123.com</td>
                    <td>20190728</td>
                    <td>否</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>老毛</td>
                    <td>111111</td>
                    <td>laomao@123.com</td>
                    <td>20190728</td>
                    <td>否</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>老毛</td>
                    <td>111111</td>
                    <td>laomao@123.com</td>
                    <td>20190728</td>
                    <td>否</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>